                {% if bookshelf_menu %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="bookshelfDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Bookshelf
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="bookshelfDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'books' %}">Books</a></li>
                  </ul>
                </li>
                {% endif %}
