body {
  font-family: 'Titillium Web','Segoe UI',Arial,sans-serif;
}
:root {
  --jumbotron-padding-y: 3rem;
}
#navbarHeader p {
  color: #6c757d;
}
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.jumbotron-heading {
  font-weight: 300;
}
.jumbotron .container {
  max-width: 40rem;
}
.card > a > img {
  width: 100%;
}
.published-info {
  text-align: right;
  font-size: .7rem;
}
.navbar img#site-logo {
  max-width: 200px;
  max-height: 100px;
}
.page-item.active .page-link {
  background-color: #343a40;
  border-color: #343a40;
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
footer a {
  color: #fff;
  font-weight: bold;
}
footer a:hover {
  color: #fff;
}
footer p {
  display: inline;
  margin-bottom: .25rem;
}
footer p.float-right > a {
  font-weight: normal;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
