pytz
pillow
markdown
Django
djangorestframework
django-solo
django-countries
django-health-check
django-admin-sortable2
django-tinymce
psycopg2-binary
# Required by django-countries and not always installed
# by default on modern venvs (like Python 3.12 on Fedora 39)
setuptools
