/* Switch SVG logo to white on dark mode */
html[data-bs-theme='dark'] .navbar svg {
  fill: #fff;
}

.card > a > img {
  width: 100%;
}

.btn > span {
  display: inline-block;
}

a.badge, a.badge:hover {
  text-decoration: none;
  color: #fff;
}

.img-thumbnail {
  padding: 0;
}

.w-33 {
  width: 33% !important;
}

.table-group-divider {
  border-top: calc(var(--bs-border-width) * 3) solid var(--bs-border-color);
}

#nav-notes > p {
  padding: .5rem;
}

#nav-journal ul, #nav-journal ol {
  margin: 0;
  padding-left: 1rem;
}

#nav-journal p {
  margin: 0;
}

#footer > p {
  display: inline;
}
