.card > a > img {
  width: 100%;
}

.btn > span {
  display: inline-block;
}

.tab-pane {
  min-height: 300px;
}

.img-thumbnail {
  padding: 0;
}

#nav-notes > p {
  padding: .5rem;
}

#footer > p {
  display: inline;
}
