.card > a > img {
  width: 100%;
}

.btn > span {
  display: inline-block;
}

a.badge, a.badge:hover {
  text-decoration: none;
  color: #fff;
}

.tab-pane {
  min-height: 300px;
}

.img-thumbnail {
  padding: 0;
}

#nav-notes > p {
  padding: .5rem;
}

#nav-journal ul, #nav-journal ol {
  margin: 0;
  padding-left: 1rem;
}

#nav-journal p {
  margin: 0;
}

#footer > p {
  display: inline;
}
