{% extends "base.html" %}
      {% block header %}
        <p class="lead text-body-secondary">Results found: {{ matches }}</p>
      {% endblock %}
      {% block cards_layout %}
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
      {% block cards %}
        {% for d in data %}
        {% if d.obj_type == "rollingstock" %}
        {% include "cards/roster.html" %}
        {% elif d.obj_type == "company" %}
        {% include "cards/company.html" %}
        {% elif d.obj_type == "rollingstocktype" %}
        {% include "cards/rolling_stock_type.html" %}
        {% elif d.obj_type == "scale" %}
        {% include "cards/scale.html" %}
        {% elif d.obj_type == "consist" %}
        {% include "cards/consist.html" %}
        {% elif d.obj_type == "manufacturer" %}
        {% include "cards/manufacturer.html" %}
        {% elif d.obj_type == "magazine"  or d.obj_type == "magazineissue" %}
        {% include "cards/magazine.html" %}
        {% elif d.obj_type == "book" or d.obj_type == "catalog" %}
        {% include "cards/book.html" %}
        {% endif %}
        {% endfor %}
      {% endblock %}
      </div>
      {% endblock %}
