{% extends "base.html" %}
      {% block header %}
        <p class="lead text-muted">Results found: {{ matches }}</p>
      {% endblock %}
      {% block cards_layout %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% block cards %}
        {% for d in data %}
        {% if d.type == "rolling_stock" %}
        {% include "cards/rolling_stock.html" %}
        {% elif d.type == "company" %}
        {% include "cards/company.html" %}
        {% elif d.type == "rolling_stock_type" %}
        {% include "cards/rolling_stock_type.html" %}
        {% elif d.type == "scale" %}
        {% include "cards/scale.html" %}
        {% elif d.type == "consist" %}
        {% include "cards/consist.html" %}
        {% elif d.type == "manufacturer" %}
        {% include "cards/manufacturer.html" %}
        {% elif d.type == "book" %}
        {% include "cards/book.html" %}
        {% endif %}
        {% endfor %}
      {% endblock %}
      </div>
      {% endblock %}
