{% extends "base.html" %}

      {% block header %}
        <h1 class="fw-light">Companies</h1>
      {% endblock %}
      {% block cards %}
      {% for c in company %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p class="card-text" style="position: relative;">
              <strong>{{ c.name }}</strong>
            </p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="2" scope="row">Company</th>
                </tr>
              </thead>
              <tbody>
                {% if c.logo %}
                <tr>
                  <th width="35%" scope="row">Logo</th>
                  <td><img style="max-height: 48px" src="{{ c.logo.url }}" /></td>
                </tr>
                {% endif %}
                <tr>
                  <th width="35%" scope="row">Name</th>
                  <td>{{ c.extended_name }}</td>
                </tr>
                <tr>
                  <th width="35%" scope="row">Abbreviation</th>
                  <td>{{ c }}</td>
                </tr>
                <tr>
                  <th width="35%" scope="row">Country</th>
                  <td>{{ c.country.name }} <img src="{{ c.country.flag }}" alt="{{ c.country }}" />
                </tr>
               {% if c.freelance %}
               <tr>
                  <th width="35%" scope="row">Notes</th>
                  <td>A <em>freelance</em> company</td>
                </tr>
               {% endif %}
              </tbody>
            </table>
            <div class="d-grid gap-2 mb-1 d-md-block">
              <a class="btn btn-sm btn-outline-primary" href="{% url 'filtered' _filter="company" search=c %}">Show all rolling stock</a>
              {% if request.user.is_staff %}<a class="btn btn-sm btn-outline-danger" href="{% url 'admin:metadata_company_change' c.pk %}">Edit</a>{% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endblock %}
      {% block pagination %}
      {% if company.has_other_pages %}
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-4 mb-0">
          {% if company.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'companies_pagination' page=company.previous_page_number %}#rolling-stock" tabindex="-1">Previous</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          {% endif %}
          {% for i in page_range %}
            {% if company.number == i %}
            <li class="page-item active">
              <span class="page-link">{{ i }}</span></span>
            </li>
            {% else %}
              {% if i == company.paginator.ELLIPSIS %}
              <li class="page-item"><span class="page-link">{{ i }}</span></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{% url 'companies_pagination' page=i %}#rolling-stock">{{ i }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if company.has_next %}
          <li class="page-item">
            <a class="page-link" href="{% url 'companies_pagination' page=company.next_page_number %}#rolling-stock" tabindex="-1">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
      {% endblock %}
