{% extends 'base.html' %}

        {% block header %}
        <small class="text-muted">Updated {{ flatpage.updated_time | date:"M d, Y H:i" }}</small>
        {% endblock %}
        {% block extra_content %}
        <section class="py-4 text-start container">
          <div class="row">
            <div class="mx-auto">
              <div>{{ flatpage.content | safe }} </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {% if request.user.is_staff %}<a class="btn btn-sm btn-outline-danger" href="{% url 'admin:portal_flatpage_change' flatpage.pk %}">Edit</a>{% endif %}
              </div>
            </div>
          </div>
        </section>
        {% endblock %}
