                {% if menu %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Articles
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% for m in menu %}
                    <li><a class="dropdown-item" href="{{ m.get_absolute_url }}">{{ m.name }}</a></li>
                  {% endfor %}
                  </ul>
                </li>
                {% endif %}
