{% extends "pagination.html" %}

      {% block header %}
        <div class="text-body-secondary">{{ site_conf.about | safe }}</div>
      {% endblock %}
      {% block cards %}
        {% for d in data %}
        {% include "cards/roster.html" %}
        {% endfor %}
      {% endblock %}

      {% block pagination %}
      <nav aria-label="Page navigation">
        <ul class="pagination flex-wrap justify-content-center mt-4 mb-0">
          <li class="page-item">
            <a class="page-link" href="{% url "roster" %}#main-content" tabindex="-1">Go to the roster <i class="bi bi-chevron-right"></i></a>
          </li>
        </ul>
      </nav>
      {% endblock %}
