{% extends "cards.html" %}

      {% block cards %}
      {% for m in manufacturers %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p class="card-text" style="position: relative;">
              <strong>{{ m.name }}</strong>
            </p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="2" scope="row">Manufacturer</th>
                </tr>
              </thead>
              <tbody>
                {% if m.logo %}
                <tr>
                  <th width="35%" scope="row">Logo</th>
                  <td><img style="max-height: 48px" src="{{ m.logo.url }}" /></td>
                </tr>
                {% endif %}
                {% if m.website %}
                <tr>
                  <th width="35%" scope="row">Website</th>
                  <td><a href="{{ m.website }}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></td>
                </tr>
                {% endif %}
                <tr>
                  <th width="35%" scope="row">Category</th>
                  <td>{{ m.category | title }}</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2 mb-1 d-md-block">
              <a class="btn btn-sm btn-outline-primary" href="{% url 'filtered' _filter="manufacturer" search=m.safe_name %}">Show all rolling stock</a>
              {% if request.user.is_staff %}<a class="btn btn-sm btn-outline-danger" href="{% url 'admin:metadata_manufacturer_change' m.pk %}">Edit</a>{% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endblock %}
      {% block pagination %}
      {% if manufacturers.has_other_pages %}
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-4 mb-0">
          {% if manufacturers.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'manufacturers_pagination' category=category page=manufacturers.previous_page_number %}#rolling-stock" tabindex="-1">Previous</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          {% endif %}
          {% for i in page_range %}
            {% if manufacturers.number == i %}
            <li class="page-item active">
              <span class="page-link">{{ i }}</span></span>
            </li>
            {% else %}
              {% if i == manufacturers.paginator.ELLIPSIS %}
              <li class="page-item"><span class="page-link">{{ i }}</span></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{% url 'manufacturers_pagination' category=category page=i %}#rolling-stock">{{ i }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if manufacturers.has_next %}
          <li class="page-item">
            <a class="page-link" href="{% url 'manufacturers_pagination' category=category page=manufacturers.next_page_number %}#rolling-stock" tabindex="-1">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
      {% endblock %}
