{% extends "cards.html" %}
      {% block pagination %}
      {% if data.has_other_pages %}
      {% with data.0.item.category as c %}
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-4 mb-0">
          {% if data.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'manufacturers_pagination' category=c page=data.previous_page_number %}#main-content" tabindex="-1">Previous</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          {% endif %}
          {% for i in page_range %}
            {% if data.number == i %}
            <li class="page-item active">
              <span class="page-link">{{ i }}</span>
            </li>
            {% else %}
              {% if i == data.paginator.ELLIPSIS %}
              <li class="page-item"><span class="page-link">{{ i }}</span></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{% url 'manufacturers_pagination' category=c page=i %}#main-content">{{ i }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if data.has_next %}
          <li class="page-item">
            <a class="page-link" href="{% url 'manufacturers_pagination' category=c page=data.next_page_number %}#main-content" tabindex="-1">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endwith %}
      {% endif %}
      {% endblock %}
