/* Switch SVG logo to white on dark mode */
html[data-bs-theme='dark'] .navbar svg {
  fill: #fff;
}

.card > a > img {
  width: 100%;
}

td > img.logo {
  max-width: 200px;
  max-height: 48px;
}

td > img.logo-xl {
  max-width: 400px;
  max-height: 96px;
}

/* Disable margin on last <p> in a <td> */
td > p:last-child {
  margin-bottom: 0;
}

.btn > span {
  display: inline-block;
}

a.badge, a.badge:hover {
  text-decoration: none;
  color: #fff;
}

.img-thumbnail {
  padding: 0;
}

.w-33 {
  width: 33% !important;
}

.table-group-divider {
  border-top: calc(var(--bs-border-width) * 3) solid var(--bs-border-color);
}

#nav-journal ul,
#nav-journal ol {
  padding-left: 1rem;
}

#nav-journal p:last-child,
#nav-journal ul:last-child,
#nav-journal ol:last-child {
  margin-bottom: 0;
}

#footer > p {
  display: inline;
}
