{% load static %}
      <div class="col">
        <div class="card shadow-sm">
          {% if d.type == "magazine" %}
          <a href="{{ d.item.get_absolute_url }}">
            {% if d.item.image and d.type == "magazine" %}
            <img class="card-img-top" src="{{ d.item.image.url }}" alt="{{ d.item }}">
            {% elif d.item.issue.first.image.exists %}
            {% with d.item.issue.first as i %}
            <img class="card-img-top" src="{{ i.image.first.image.url }}" alt="{{ d.item }}">
            {% endwith %}
            {% else %}
            <!-- Do not show the "Coming soon" image when running in a single card column mode (e.g. on mobile) -->
            <img class="card-img-top d-none d-sm-block" src="{% static DEFAULT_CARD_IMAGE %}" alt="{{ d.item }}">
            {% endif %}
          </a>
          {% elif d.type == "magazineissue" %}
          <a href="{{ d.item.get_absolute_url }}">
            {% if d.item.image.exists %}
            <img class="card-img-top" src="{{ d.item.image.first.image.url }}" alt="{{ d.item }}">
            {% else %}
            <!-- Do not show the "Coming soon" image when running in a single card column mode (e.g. on mobile) -->
            <img class="card-img-top d-none d-sm-block" src="{% static DEFAULT_CARD_IMAGE %}" alt="{{ d.item }}">
            {% endif %}
          </a>
          {% endif %}
          </a>
          <div class="card-body">
            <p class="card-text" style="position: relative;">
              <strong>{{ d.item }}</strong>
              <a class="stretched-link" href="{{ d.item.get_absolute_url }}"></a>
            </p>
            {% if d.item.tags.all %}
            <p class="card-text"><small>Tags:</small>
              {% for t in d.item.tags.all %}<a href="{% url 'filtered' _filter="tag" search=t.slug %}" class="badge rounded-pill bg-primary">
              {{ t.name }}</a>{# new line is required #}
              {% endfor %}
            </p>
            {% endif %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="2" scope="row">
                    {{ d.type | capfirst }}
                    <div class="float-end">
                      {% if not d.item.published %}
                      <span class="badge text-bg-warning">Unpublished</span>
                      {% endif %}
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                {% if d.type == "magazineissue" %}
                <tr>
                  <th class="w-33" scope="row">Magazine</th>
                  <td>{{ d.item.magazine }}</td>
                </tr>
                {% endif %}
                <tr>
                  <th class="w-33" scope="row">Publisher</th>
                  <td>
                    <img src="{{ d.item.publisher.country.flag }}" alt="{{ d.item.publisher.country }}"> {{ d.item.publisher }}
                    {% if d.item.publisher.website %} <a href="{{ d.item.publisher.website }}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>{% endif %}
                  </td>
                </tr>
                {% if d.type == "magazineissue" %}
                <tr>
                  <th class="w-33" scope="row">Issue</th>
                  <td>{{ d.item.issue_number }}</td>
                </tr>
                <tr>
                  <th class="w-33" scope="row">Date</th>
                  <td>{{ d.item.publication_year|default:"-" }} / {{ d.item.publication_month|default:"-" }}</td>
                </tr>
                <tr>
                  <th class="w-33" scope="row">Pages</th>
                  <td>{{ d.item.number_of_pages|default:"-" }}</td>
                </tr>
                {% endif %}
                <tr>
                  <th class="w-33" scope="row">Language</th>
                  <td>{{ d.item.get_language_display }}</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2 mb-1 d-md-block">
              {% if d.type == "magazine" %}
              <a class="btn btn-sm btn-outline-primary{% if d.item.issues == 0 %} disabled{% endif %}" href="{{ d.item.get_absolute_url }}">Show {{ d.item.issues }} issue{{ d.item.issues|pluralize }}</a>
              {% else %}
              <a class="btn btn-sm btn-outline-primary" href="{{ d.item.get_absolute_url }}">Show all data</a>
              {% endif %}
              {% if request.user.is_staff %}<a class="btn btn-sm btn-outline-danger" href="{% url 'admin:bookshelf_magazineissue_change'  d.item.pk %}">Edit</a>{% endif %}
            </div>
          </div>
        </div>
      </div>
