      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p class="card-text"><strong>{{ d.item }}</strong></p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="2" scope="row">Type</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <th class="w-33" scope="row">Type</th>
                  <td>{{ d.item.type }}</td>
                </tr>
                <tr>
                  <th class="w-33" scope="row">Category</th>
                  <td>{{ d.item.category | title}}</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2 mb-1 d-md-block">
              <a class="btn btn-sm btn-outline-primary" href="{% url 'filtered' _filter="type" search=d.item.slug %}">Show all rolling stock</a>
              {% if request.user.is_staff %}<a class="btn btn-sm btn-outline-danger" href="{% url 'admin:metadata_scale_change' d.item.pk %}">Edit</a>{% endif %}
            </div>
          </div>
        </div>
      </div>

