{% load static %}
{% load breadcrumbs %}
{% load solo_tags %}
{% get_solo 'portal.SiteConfiguration' as site_conf %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site_conf.about }}">
    <meta name="author" content="{{ site_conf.site_author }}">
    <link rel="icon" type="image/png" href="{% static 'favicon-196x196.png' %}" sizes="196x196">
    <link rel="icon" type="image/png" href="{% static 'favicon-128.png' %}" sizes="128x128">
    <link rel="icon" type="image/png" href="{% static 'favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16">

    <title>{{ site_conf.site_name }} - {{ page.name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/dist/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    {% if site_conf.common_css %}<link rel="stylesheet" href="{{ site_conf.common_css.url }}">{% endif %}
  </head>

  <body class="bg-dark">
    <div class="container-fluid h-100 d-flex flex-column">
      <header>
        {% include 'navbar.html' %}
        <div class="row collapse bg-dark shadow-sm" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                {% if site_conf.about %}<h4 class="text-white">About</h4>
                <p class="text-muted">{{ site_conf.about | safe }}</p>{% endif %}
                {% breadcrumbs page.path %}
              </div>
              <div class="col-sm-4 offset-md-1 py-4 text-right">
              {% if request.user.is_staff %}<div class="dropdown btn-group">
                <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Edit
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'admin:portal_flatpage_change' page.pk %}">Edit page</a>
                  <a class="dropdown-item" href="{% url 'admin:portal_flatpage_history' page.pk %}">History</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" href="{% url 'admin:portal_flatpage_delete' page.pk %}">Delete</a>
                </div>
              </div>{% endif %}
              {% include 'login.html' %}
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
    <main>
      <div class="album py-5 bg-white">
        <div class="container">
          {{ content }}
        </div>
      </div>
    </main>

    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/dist/jquery.min.js" %}"></script>
    <script src="{% static "js/dist/bootstrap.bundle.min.js" %}"></script>
  </body>
</html>
