{% load markdown %}

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <div id="footer" class="mb-1">
        <p>&copy; {% now "Y" %}</p> {{ site_conf.footer | markdown | safe }}
    </div>
    <div id="footer_extended" class="mb-0">
      {{ site_conf.footer_extended | markdown | safe }}
    </div>
  </div>
  {% if site_conf.show_version %}
  <div class="container">
    <p class="small text-muted">Version: {{ site_conf.version }}</p>
  </div>
  {% endif %}
</footer>
