  <footer class="text-muted py-4">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <div id="footer" class="mb-1">
          <p>&copy; {% now "Y" %}</p> {{ site_conf.footer | safe }}
      </div>
      <div id="footer_extended" class="mb-0">
        {{ site_conf.footer_extended | safe }}
      </div>
    </div>

    <div class="container">
        <p class="small text-muted">Made with ❤️ for 🚂 and <a href="https://github.com/daniviga/django-ram">django-ram</a>
        {% if site_conf.show_version %}<br>Version {{ site_conf.version }}{% endif %}
    </div>
  </footer>
