          <form class="d-flex needs-validation" action="{% url 'search' %}" method="post" novalidate>{% csrf_token %}
            <div class="input-group has-validation">
              <input class="form-control" type="search" list="datalistOptions" placeholder="Search" aria-label="Search" name="search" id="searchValidation" required>
              <datalist id="datalistOptions">
                <option value="company: ">
                <option value="manufacturer: ">
                <option value="scale: ">
                <option value="type: ">
              </datalist>
              <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
          </form>
		  <script>
          (function () {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
              .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                  if (!form.checkValidity()) {
                    form.classList.add('was-validated')
                    event.preventDefault()
                    event.stopPropagation()
                  }
                }, false)
              })
          })()
	      </script>
