    <!-- Modal -->
    <div class="modal fade" id="symbolsModal" tabindex="-1" aria-labelledby="symbolsLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="symbolsLabel">Symbols</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="2" scope="row">DCC symbols</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <th scope="row" class="text-center"><i class="bi bi-ban small"></i></th>
                  <td>No socket</td>
                </tr>
                <tr>
                  <th scope="row" class="text-center"><i class="bi bi-dice-6 small"></i></th>
                  <td>Socket available</td>
                </tr>
                <tr>
                  <th scope="row" class="text-center"><i class="bi bi-arrow-bar-left"></i><i class="bi bi-cpu-fill small"></i></th>
                  <td>Decoder installed</td>
                </tr>
                <tr>
                  <th scope="row" class="text-center"><i class="bi bi-arrow-bar-left"></i><i class="bi bi-volume-up-fill small"></i></th>
                  <td>Sound decoder installed</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

